.app{
    // -webkit-user-select: none;  /* Chrome all / Safari all */
    // -moz-user-select: none;     /* Firefox all */
    // -ms-user-select: none;      /* IE 10+ */
    //  user-select: none;    
    // appearance: none;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // background-image: none;
    cursor: pointer;
}
*:not(input) {
    cursor: default;
}

html,body,#root,.app{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
